<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        
        .alert-success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
        
        .alert-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
        
    </style>
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-md"> <!-- Adjusted width here -->
        <h2 class="text-3xl font-semibold text-center mb-6">Reset Your Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages%}
            {% for category, message in messages %}
            {%if category == 'success'%}
                <div class="fixed top-0 left-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="modal">
                    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                        <div class="mt-3 text-center">
                            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-blue-100">
                                <svg class="h-6 w-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <h3 class="text-lg leading-6 font-medium text-gray-900">Successful</h3>
                            <div class="mt-2 px-7 py-3">
                                <p class="text-sm text-gray-500">Password Reset Successfully.Please Login</p>
                            </div>
                            <div class="items-center px-4 py-3">
                                <button id="ok-btn" class="px-4 py-2 bg-blue-600 text-white
                                                    text-base font-medium rounded-md w-full
                                                    shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    OK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    let modal = document.getElementById('modal');
                    let button = document.getElementById('ok-btn');
            
                    button.onclick = function () {
                        window.location.href = "/"
                    };
            
                    
                </script>
            {%else%}
            <div class="alert alert-{{ category }}">
                {{ message }}
                <span class="close-button" style="position: absolute; top: 10px; right: 5px; cursor: pointer;">X</span>
            </div>
            {%endif%}
            {%endfor%}
        {%endif%}
        {% endwith %}
        <form method="POST" action="/change_password/{{email}}">
            <input required
                placeholder="* Enter OTP" name="otp"
                class="border-2 border-gray-200 rounded w-full p-2 mb-2">
            <input required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                type="password" placeholder="* New Password" name="new_password"
                class="border-2 border-gray-200 rounded w-full p-2 mb-2">
            <input required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                type="password" placeholder="* Re-Type New Password" name="confirm_new_password"
                class="border-2 border-gray-200 rounded w-full p-2 mb-2">
                <button type="submit" class="w-full bg-blue-500 text-white py-3 px-4 rounded focus:outline-none focus:shadow-outline mb-4">Reset Password</button>
            </form>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $('body').on('keydown', function () {
            $('.alert').remove();
          });
    </script>
</body>
</html>